@import './Theme.scss';


/* ==========================================================================
[General]
========================================================================== */

body {
    height: 100%;
    font-family: $main-font;
}
html {
  scroll-behavior: smooth;
}
audio {
  display: none;
}
/* ==========================================================================
[App]
========================================================================== */
  
.App {
  width: 720px;
  margin: 50px auto;
  box-shadow: 0px 5px 39px -26px black;
  border: $app-border-color solid 1px;
  border-radius: 4px;
  background: $app-bg-color;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto 50px;
  height: 100%;
}
  
  
  /* ==========================================================================
  [Header component]
  ========================================================================== */
  
  .Header {
    background: $header-bg-color;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto;
    padding: 10px;
    border-bottom: $header-border-color solid 1px;
  }
  .Header div {
    height: 30px;
  }
  .Controls {
    display: flex;
    justify-content: space-around;
    height: 30px;
  }
  .Controls span {
    cursor: pointer;
    line-height: 30px;
    padding: 0 10px;
  }
  
  .Controls span:hover svg {
    transform: scale(1.3);
    color: $control-icon-color-hover;
  }
  
  .Controls span svg {
    transition: all 0.5s;
    color: $control-icon-color;
  }
  
  .CurrentSong {
    display: grid;
    grid-template-columns: 50px auto 100px;
    grid-template-rows: auto;
    font-size: 15px;
    font-weight: 300;
  }
  .CurrentSong > span{
    line-height: 30px;
    padding: 0 10px
  }
  
  .CurrentSongDuration {
    text-align: right;
  }
  
  .CurrentSongArt img {
    width: 30px;
    height: 30px;
  }
  
  /* ==========================================================================
  [Playlist]
  ========================================================================== */
  
  
  .Playlist {
    padding: 10px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .Song {
    display: grid;
    grid-template-columns: 30px auto 50px;
    line-height: 30px;
    height: 30px;
    margin: 10px 0;
    padding: 10px;
    font-weight: 300;
    cursor: pointer;
  }
  
  .Song.Selected {
    border-radius: 2px;
    font-weight: 700;
    color: orangered;
    color: $song-selected-color;
    background: $song-selected-bg-color;
  }
  
  .Art img {
    width: 30px;
    height: 30px;
  }
  
  .Title {
    line-height: 30px;
    padding: 0 10px;
    overflow: hidden;
    height: 30px;
  }
  
  .Duration {
    text-align: right;
  }
  
  
  .SongSeperator {
    content: "";
    display: block;
    background: $song-seperator-bg-color;
    height: 1px;
    width: 100%;
  }
  
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $webkit-scrollbar-thumb-color;
    width: 5px;
  }
  
  
  /* ==========================================================================
  [Status]
  ========================================================================== */
  
  .Status {
    padding: 10px;
    background: $status-bg-color;
    line-height: 30px;
  }
  

  /* ==========================================================================
  [Dark theme]
  ========================================================================== */
  
  .App {
    border: $app-border-color solid 1px;
    background: $app-bg-color;
  }

  .Header {
    background: $header-bg-color;
    border-bottom: $header-border-color solid 1px;
  }

  .Controls span:hover svg {
    color: $control-icon-color-hover;
  }
  
  .Controls span svg {
    color: $control-icon-color;
  }

  .Song.selected {
    color: $song-selected-color;
    background: $song-selected-bg-color;
  }

  .SongSeperator:last-child {
    border: none;
    background: none;
  }

  .SongSeperator:first-child {
    border: none;
    background: none;
  }


  .SongSeperator {
    background: $song-seperator-bg-color;
  }


  ::-webkit-scrollbar-thumb {
    background: $webkit-scrollbar-thumb-color;
  }


  .Status {
    background: $status-bg-color;
  }