// Main
$main-font:                    'Nunito', sans-serif;
$webkit-scrollbar-thumb-color: #c7c7c7;

// App
$app-border-color:             #e8e8e8;
$app-bg-color:                 #eee;

// Header
$header-bg-color:              #e1e1e1;
$header-border-color:          #e3e3e3;

// Control
$control-icon-color:           #444;
$control-icon-color-hover:     #000;

// Playlist
$playlist-border-color:        #e3e3e3;

// Song
$song-selected-bg-color:       #dfdfdf;
$song-selected-color:          #000;
$song-seperator-bg-color:      #ddd;


// Status
$status-bg-color:              #e1e1e1;
